/.bundle
/vendor/bundle
/bin

/log/*
!/log/.keep
/tmp/*
!/tmp/.keep

.sass-cache/
public/assets/*

.yarn-integrity
node_modules/
/yarn-error.log
.byebug_history

.DS_Store
*/.DS_Store

storage/*
!/storage/.keep

config/database.yml
config/master.key
config/credentials/*.key
config/paypal.yml

*.sublime-*

Capfile
config/deploy
config/deploy.rb

config/_credentials.development.sample.yml
config/_credentials.production.sample.yml
/config/credentials/development.key

/config/credentials/production.key
/config/master.key